*
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
body{
    background-color: f1fbff;
}
.section-padding
{
    padding:25px 0;
}
/* .carousel-item
{
height: 100vh;
min-height: 300px;

}
.carousel-caption
{
    bottom: 220px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width:60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
} */
/* .carousel-inner::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.7);
    z-index: 1;
} */
.navbar-light .navbar-brand
{
color:black;
font-size: 1rem;
text-transform: uppercase;
font-size: 700;
letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover
{
color: black;
}

.navbar-light .navbar-nav .navbar-link
{
color: black;
}

/* .w-100
{
    height: 100vh;
} */

.services .card-body i {
    font-size: 50px;
}

 .card-body .socials i {
    font-size: 15px;
}
.team .card-body i{
    font-size: 20px;
}
.portfolio .card{
    box-shadow:15px 15px 40px rgba(0,0,0,0.15);
}

.team .card{
    box-shadow:15px 15px 40px rgba(0,0,0,0.15);
}
.card{
    margin-bottom: 30px;
}

#register p{
    font-size: 15px;
}


/*  */

/****  responsive  **/
/* @media only screen and (max-height:1400px)
{
    .carousel-caption{
bottom:300px;
    }
 

.carousel-caption h5{
    font-size: 2.5rem;
        }
        .carousel-caption a
        {
            padding: 10px 15px;
        }
        .carousel-caption p
        {
            width: 100%;
            line-height: 1.6;
            font-size: 2rem;
            
        } 
.img-area img{
    width:100%
}



}


@media (min-height:768px) and (max-height:991px)
{
    .carousel-caption{
bottom:200px;
    }


.carousel-caption h5{
    font-size: 1.5rem;
        }
        .carousel-caption a
        {
            padding: 10px 15px;
        }
        .carousel-caption p
        {
            width: 100%;
            line-height: 1.6;
            font-size: 1.5rem;
           
            
        } 
.img-area img{
    width:100%
}



}



 @media only screen and (max-height:767px)
{
    .navbar-nav
    {
        text-align: center;
    }
  .carousel-caption
    {
bottom:125px ;
    }
    .carousel-caption h5{
font-size: 1.5rem;
    }
    .carousel-caption a
    {
        padding: 10px 15px;
    }
    .carousel-caption p
    {
        width: 100%;
        line-height: 1.6;
        font-size: 1.5rem;
        
    } 
    
}  

@media screen and (max-width: 576px){
    .carousel-caption
    {
bottom:5px ;
    }
    .carousel-item img{
        height: 350px;
    }
    .carousel-item {
        height: auto;
       
    }
    .carousel-caption h5{
        font-size: 1rem;
            }
    .carousel-caption p
    {
        width: 100%;
        line-height: 1.4;
        font-size: 1rem;
        
    } 
    }


 */
